<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tempstyle.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Available Parts</a></li>
            <li><a href="{{ url_for('search_parts') }}">Search Parts</a></li>
            <li><a href="{{ url_for('build_pc') }}">PC Build</a></li>
            <li><a href="{{ url_for('view_builds') }}">Search Builds</a></li>
        </ul>
    </nav>

    <div class="hero-container">
        <h1>Build Details</h1>
        <h2>Customer Details</h2>
        <p style="font-size: small;"><strong>PCID:</strong> {{ customer_details.pcid }}</p>
        <p style="font-size: small;"><strong>Customer Name:</strong> {{ customer_details.name }}</p>
        <p style="font-size: small;"><strong>eBay Name:</strong> {{ customer_details.ebay_name }}</p>
        <p style="font-size: small;"><strong>Sold For:</strong> £{{ "%.2f"|format(customer_details.sold|float) }}</p>
        <p style="font-size: small;"><strong>Build Date:</strong> {{ customer_details.build_date }}</p>
        <p style="font-size: small;"><strong>Address:</strong> {{ customer_details.address }}</p>
        <p style="font-size: small;"><strong>Tracking Number:</strong> {{ customer_details.tracking_number }}</p>

        <a href="{{ url_for('update_customer', build_id=build_id) }}" class="cta-button">
            Edit Customer
        </a>

        <h2 style="margin-top: 50px;">Selected Parts</h2>
        <table>
            <thead>
                <tr>
                    <th>Part Type</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Serial Number</th>
                    <th>Audit Date</th>
                </tr>
            </thead>
            <tbody>
                {% for part_type, part in selected_parts.items() %}
                <tr>
                    <td>{{ part_type }}</td>
                    <td>{{ part.name }}</td>
                    <td>£{{ "%.2f"|format(part.price|float) }}</td>
                    <td>{{ part.serial_number }}</td>
                    <td>{{ part.audit_date }}</td>
                </tr>
                {% set total_cost = total_cost + part.price  %}
                {% endfor %}
            </tbody>
        </table>
        <h3 style="margin-top: 20px;">Total Build Cost: £{{ "%.2f"|format(total_cost|float) }}</h3>
        {% set profit = customer_details.sold|float - total_cost|float %}
        <h4 style="margin-top: 60px; font-size: 3rem;"> Profit £{{ "%.2f"|format(profit) }}</h4>
    </div>
</body>
</html>