<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Parts Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="hero-container">
        <h1>Welcome to PC Parts Inventory</h1>
        <p>Effortlessly manage your PC parts with our inventory system.</p>
        <a href="{{ url_for('index') }}" class="cta-button">Add a PC Part</a>
    </div>
</body>
</html>
