<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search PC Parts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tempstyle.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Available Parts</a></li>
            <li><a href="{{ url_for('search_parts') }}">Search Parts</a></li>
            <li><a href="{{ url_for('build_pc') }}">PC Build</a></li>
            <li><a href="{{ url_for('view_builds') }}">Search Builds</a></li>
        </ul>
    </nav>

    <div class="hero-container">
        <h1 style="margin-bottom: 60px;">PC Builds</h1>
        <table>
            <thead>
                <tr>
                    <th>PCID</th>
                    <th>Customer Name (eBay Name)</th>
                    <th>Sold For</th>
                    <th>Build Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for build in builds %}
                <tr>
                    <td>{{ build.pc_id }}</td>
                    <td>{{ build.customer_name }} ({{ build.ebay_name }})</td>
                    <td>£{{ "%.2f"|format(build.sold_for|float) }}</td>
                    <td>{{ build.build_date }}</td>
                    <td><a href="/build_details/{{ build.build_id }}" class="cta-button">View Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
